<header>
  <div class="title">
    <h1>task#show</h1>
    <nav>
      <strong><%= link_to current_user.name, mypage_show_path %></strong>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </nav>
  </div>
</header>
<main>
</main>
