<header>
  <h1>View#show</h1>
</header>
<main>
  <div class="title">
    <p>Project Name:</p>
    <p>show mamber</p>
  </div>
  <div id="project">
    <div id= "task_icon">

    </div>
    <div id="user_name">
      <p>name:</p>
    </div>
    <div id ="task_area">

    </div>
  </div>
</main>
