/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*ウィンドウ幅が767px以上の場合に適用(PC)*/
@media screen and (min-width: 768px) {
  img{
    height: 8em;
    width: 8em;
  }
  .rowitem{
    flex-direction: row;
  }
  .rowitem>*{
    flex-direction: column;
    justify-content: center;
    height: 15em;
    width: 15em;
  }
  .title,.field{
    flex-direction: row;
  }
  .rowfield{
    flex-direction: row;
  }

}
/*ウィンドウ幅が767px以下の場合に適用(タブレット)*/
@media screen and (max-width: 768px) {
  img{
    height: 8em;
    width: 8em;
  }
  .rowitem{
    flex-direction: row;
  }
  .rowitem>*{
    flex-direction: column;
    justify-content: center;
    height: 15em;
    width: 15em;
  }
  .title,.field{
    flex-direction: row;
  }
  .rowfield{
    flex-direction: column;
  }

}

/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ)*/
@media screen and (max-width: 479px) {
  img{
    display: none;
  }
  .title,.field{
    flex-direction: column;
  }
  .rowitem{
    flex-direction: column;
  }
  .rowitem>*{
    height: 2em;
    width: 100%;
    justify-content: space-between;
  }
  .rowitem>*>*{
    padding: 0em 0.5em;
    font-size: small;
  }
  .rowfield{
    flex-direction: column;
  }
}

 *,
 *:before,
 *:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  }

html{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
}
body {
  line-height: normal;
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  z-index: 50;
}
header{
  background-color: #9fc5e8ff;
  height: 5.5em;
  width: 100%;
  margin: 0px;
  padding: 0px 2em;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
header>*{
  align-self: center;
}
main{
  width: 100%;
  display: inline;
  flex: 1;
  margin: 0px;
  padding: 1em 1.3em;
}
footer{
  clear: both;
  background-color: #9fc5e8ff;
  width: 100%;
  height: 4em;
  display: flex;
  padding: 0em 2em;
  font-weight: bold;
  flex-flow: row-reverse;
}
footer>*{
  align-self: center;
}
h1,h2,h3{
  font-weight: bold;
  align-items: center;
  justify-content: center;
  padding: 0em;
}
h1{
  font-size: 1.7em;
}
h2{
  font-size: 1.5em;
}
h3{
  font-size: 1.3em;
}
p{
  font-size: medium;
}
label{
  margin: 5px;
}
a:-webkit-any-link {
  color: rgb(53, 57, 59);
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
li{
  list-style: none;
}
ul{
  margin: 1em 0em;
  padding: 0em;
}
nav{
  text-align: center;
}
em{
  color: #212529;
}
i,em{
  white-space: nowrap;
}
input{
  max-width: 25em;
}
input[type = "email"],input:-internal-autofill-selected,input[type = "text"],input[type = "password"]{
  width: 20em;
  height: 2.5em;
}
img{
  margin: 0.5em;
}
textarea{
  min-height: 50px;
  min-width: 300px;
  max-width: 300px;
  max-height: 140px;
}

/* 見出し用 */
.title{
  margin: 0em;
  padding: 0em 1em;
  display: flex;
  justify-content:space-between;
  width: 100%;
}
/* 横並び 変化なし */
.row{
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 1em;
  min-width: 15em;
}
.row>*{
  margin: 0em 0.3em;
}
/* 横並び 変化あり */
.rowfield{
  display: flex;
  margin: 0em;
}

/* コンテンツ 横 変化あり */
.rowitem{
  display: flex;
  margin: 1em;
  padding: 0em;
  flex-wrap: wrap;
}
.rowitem>*{
  display: inline-flex;
  align-items: center;
  background-color: rgba(210, 222, 233, 0.685);
  margin: 0.3em 0.5em;
  padding: 0px;
}
/* 縦並び 変化なし */
.col{
  display: flex;
  flex-direction: column;
  margin: 1em;
  min-width: 15em;
}
.col>*{
  margin: 0.3em 0em;
}
/* 横並び 変化あり */
.colfield{
  display: flex;
  margin: 0em;
}
/* 縦 コンテンツ */
.colitem{
  display: flex;
  flex-direction: column;
  background-color: rgba(210, 222, 233, 0.685);
}
.colitem>*{
  margin: 0.3em 0.2em;
  padding: 0.2em 0em;
}
/* ページネーション */
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px auto;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

/* application.html.erb のアラート用 */
.notifications{
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5.5em;
  z-index: 100;
  margin: 0em;
}

/* ボタン装飾 */
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
}
.button>* {
  height: 40px;
  color: #212529;
  margin: 0px 5px;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #cfe2f3ff;
  box-shadow: 0 5px #99AABB;
}
.button>*:active {
  box-shadow: 0 0 #99AABB;
  top: 5px;
}
.button>*:hover {
  box-shadow: 0 2px #99AABB;
  top: 3px;
}
.actions>*{
  margin-top: 5px;
  padding: 3px;
  cursor: pointer;
}
/* リンク装飾 */
.link,.actions{
  float: right;
}
.link>*, .actions>*{
  font-size: 15px;
  padding: 5px;
  margin: 5px 2px;
  cursor: pointer;
}
.scroll{
  overflow-y: scroll;
  border: #99AABB solid 1px;
}
.scroll>*{
  margin: 0.5em;
}