// Place all the styles related to the manage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.setting{
  height: 100px;
  width: 100%;
}
#name{
  height: 100%;
}