// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-grow:1;
  padding: 0px 40px;
}
.field{
  flex: 1;
}